<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/3a109c35-c42e-406d-93c5-b9f1ffdff521/resourceGroups/grp-granito/providers/Microsoft.ContainerRegistry/registries/registrygranito</ResourceId>
    <ResourceName>registrygranito</ResourceName>
    <ResourceGroup>grp-granito</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://registrygranito.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>6b1fba80-3991-402e-a98c-b6d144bf7ca1</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>